* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    /*border-bottom: 3px solid rgba(255, 85, 85, 1);*/
    /*box-shadow: inset 0px 0px 8px -4px rgba(255, 85, 85, 0.8);*/
    color: rgba(80, 250, 123, 1);
    transition-property: background-color;
    transition-duration: .5s;
    border-radius:15px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#clock,
#network,
#tray,
#mode,
#scratchpad,
#window,

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /*background-color: #64727D;*/
    color: rgba(80, 250, 123, 1);
    letter-spacing: 8px;
    font-size: 15px;
    background-color: rgba(255, 85, 85, 0.8);
    border-radius: 15px;
    padding: 0 10px;
}

#network {
    /*background-color: #2980b9;*/
    color: rgba(80, 250, 123, 1);
    background-color: rgba(255, 85, 85, 0.8);
    border-radius: 15px;
    padding: 0 10px;
}

#network.disconnected {
    /*background-color: #f53c3c;*/
    color: rgba(255, 85, 85, 1);
}

#tray {
    background-color: rgba(255, 85, 85, 0.8);
    border-radius: 15px;
    padding: 0 10px;
}

#tray menu {
    color: rgba(80, 250, 123, 1);
    background-color: rgba(255, 85, 85, 0.5)
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
